<%- include('../partials/boilerplate') -%>

<div class="user">
    <div class="userName">
        <h3><%= data.user.username %>'s Profile</h3>
        <div>
            <form method="GET" action="/user/<%= data.user.id %>/edit">
                <input type="submit" value="Edit <%= data.user.name %>'s Info" />
            </form>
            <form method="GET" action="/auth/logout">
                <input type="submit" value="Sign Off" />
            </form>
        </div>
    </div>
    <div class="usersPage">
        <div class="cityRest">
            <% if (data.cities) { %>
                <h4>Cities & Restaurants</h4>
                <ul>
                    <% for (let city of data.cities) { %>
                        <li>
                            <div class="cityName">
                                <h4><a href="/city/<%= city.id %>"><%= city.name %></a></h4>
                                <form method="POST" action="/user/city/<%= city.id %>?_method=DELETE">
                                    <input type="submit" value="Remove: <%= city.name %>" />
                                </form>
                            </div>
                            <ul>
                                <% for (let rest of data.restaurants) { %>
                                    <% if (city.id === rest.city_id) { %>
                                        <li>
                                            <div class="restName">
                                                <h5><a href="/restaurant/<%= rest.zomato_id %>">--<%= rest.name %></a></h5>
                                                <form method="POST" action="/user/restaurant/<%= rest.id %>?_method=DELETE">
                                                    <input type="submit" value="Remove: <%= rest.name %> " />
                                                </form>
                                            </div>
                                        </li>  
                                    <% } %>
                                <% } %>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </div>
        <div class="allRest">
            <h4>All Restaurants</h4>
            <ul>
                <% for (let rest of data.restaurants) { %>
                    <li>
                        <div class="userRestList">
                            <h5><a href="/restaurant/<%= rest.zomato_id %>"><%= rest.name %></a></h5>
                            <form method="POST" action="/user/restaurant/<%= rest.id %>?_method=DELETE">
                                <input type="submit" value="Remove <%= rest.name %> " />
                            </form>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<script src="/src/main.js"></script>
<%- include('../partials/end') -%>