<%- include('../partials/boilerplate') -%>

<h3><%= data.user.username %>'s PAGE</h3>
<div class="allCities">
    <% if (data.cities) { %>
        <ul>
            <% console.log(data.cities) %>
            <% for (let city of data.cities) { %>
                <li><a href="/user/city/<%= city.id %>"><%= city.name %></a></li>
            <% } %>
        </ul>
    <% } %>
</div>

<form method="GET" action="/user/<%= data.user.id %>/edit">
    <input type="submit" value="Edit <%= data.user.username %>'s Info" />
</form>
<form method="GET" action="/auth/logout">
    <input type="submit" value="Sign Off" />
</form>

<%- include('../partials/end') -%>