<%- include('../partials/boilerplate') %>

<h3><%= data.city.name %>'s Page</h3>

<form method="POST" action="/user/city/<%= data.city.id %>">
    <input type="submit" value="Add <%= data.city.name %> to MY PAGE" />
</form>

<%- include('../partials/end') %>