<%- include('../partials/boilerplate') %>

<h3><%= data.city_name %> PAGE</h3>
<% data.city_cuisine.map(el => { %>
    <p><%= el %></p>
<% }) %>
<a href="<%= data.city_link %>" target="_blank">City Link</a>


<ul>
    <% data.nearby_restaurants.map(rest => { %>
        <li><%= rest.restaurant.name %></li>
        <li>
            <ul>
                <li><%= rest.restaurant.location.address %></li>
                <li><%= rest.restaurant.cuisines %></li>
                <li><form method="GET" action="/restaurant/<%= rest.restaurant.id %>">
                    <input type="number" name="city_id" value="<%= data.city_id %>" />
                    <input type="submit" value="More Info" />
                </form></li>
            </ul>
        </li>
    <% }) %>
</ul>


<% if (user) { %>
    <form method="GET" action="/user">
        <input type="submit" value="Back to <%= data.user.username %>'s'  Page"/>
    </form>
<% } %>
<form method="GET" action="/search">
    <input type="submit" value="Back to Main Search" />
</form>
<form method="POST" action="/user/city/<%= data.city_id %>">
    <input type="submit" value="Add <%= data.city_name %> to MY PAGE" />
</form>

<%- include('../partials/end') %>