<%- include('../partials/boilerplate') %>

<h3><%= data.name %></h3>
<a href="<%= data.restUrl %>">Zomato Link</a>

<!-- LOCATION IS AN OBJECT -->
<!-- CUISINES IS AN ARRAY -->

<p>Schedule: <%= data.times %></p>

<img src="<%= data.photo %> " />
<a href="<%= data.photoAlbum %> ">Photo Album</a>

<a href="<%= data.menu %> ">Menu</a>

<p>Phone Number: <%= data.phone %></p>

<form method="POST" action="/user/restaurant/<%= data.id %>">
    <input type="submit" value="Add <%= data.name %> to My Page" />
</form>
<button onclick="goBack()">Go Back</button>

<script src="/src/main.js"></script>
<%- include('../partials/end') %>